<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Contact</h3>
    <button [routerLink]="['new']" class="btn btn-success pull-right newContact">New Contact</button>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <cms-contact-item
          *ngFor="let contact of contacts"
          [contact]="contact"
          dnd-draggable [dragEnabled]="true" [dragData]="contact" [dropZones]="['contactGroup']"
        ></cms-contact-item>
      </div>
    </div>
  </div>
</div>
